<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.hk-volcon</string>
    <key>ServiceDescription</key>
    <string>HomeKit Volume Control Server</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/tan/PycharmProjects/hk-volcon/venv/bin/python</string>
        <string>/Users/tan/PycharmProjects/hk-volcon/main.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/tan/PycharmProjects/hk-volcon</string>
    <key>StandardOutPath</key>
    <string>/Users/tan/PycharmProjects/hk-volcon/stdout_stderr.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/tan/PycharmProjects/hk-volcon/stdout_stderr.log</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>